/*creats positioning for image*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*puts an opacity on image*/
img {
  opacity: 0.8;
}
/*changes font styles throughout the entire website*/
h1 {font-family: 'Gentium Basic', serif;}
p {font-family: 'Gentium Basic', serif;
font-family: 'Raleway', sans-serif;}
h2 {font-family: 'Gentium Basic', serif;}

/*background color is gradient that turns into a different color throughout the whole page*/
div {
  background-image: linear-gradient( to bottom right, darkcyan, tan);
}
/*creates a shadow color behind text*/
h1 {
  text-shadow: 4px 4px 3px indianred;
}
/*heading has cornflower blue shadow behind text*/
h2 {
  text-shadow: 2px 2px 2px cornflowerblue;
}
/*creates rotation for my animated photos, they spin and slide and come back to formation*/
@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}
/*rotation duration for animation*/
#rotation{ animation:animated_div 3s 2;

position:relative;
} 
/*inserted pirate audio to begin escape room*/
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel 

/*describes positioning for treasure map button*/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
/*describes design choices of treasure map button*/
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/*desribes the button*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
/*creats opacity*/
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccu;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

  #myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccu;
  padding: 10px 0;
  height: 150px;
}